body{
    font-size: 14px;
}
#accordion .acc-body{
    height: 0;
    visibility: hidden;
 }
 /** This class will show the body if it has "active" parent class. "active" class will be added to panel div **/
 #accordion .active .acc-body {
    text-align: center;
    visibility: unset;
    height: auto;
    padding: 10px;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
 }
 #accordion .acc-header{
    display: block;
    background-color: brown;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
 }
 #accordion .acc-body .employee-name{
     display: inline;
     width: 30%;
     float: left;
     border: none !important;
 }
 #accordion .acc-body select.amount-selector{
    width: 5%;
    float: left;
}
#accordion .acc-body input.date-selector{
    width: 10%;
}

#accordion .acc-body input.submit-btn{
    width: 10%;
    float : right;
    background-color: brown;
    color: white;
}
#accordion .panel.active .acc-body *{
    margin: 20px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width:767px){
    #accordion .panel.active .acc-body *{
        margin: 20px auto;
    }
    #accordion .acc-body .employee-name{
        display: block;
        width: unset;
        float: none;
    }
    #accordion .acc-body select.amount-selector{
        display: block;
        width: unset;
        float: none;
   }
   #accordion .acc-body input.date-selector{
        display: block;
        width: unset;
        float: none;
   }
   
   #accordion .acc-body input.submit-btn{
        display: block;
        width: unset;
        float: none;
   }
}
#login-form {
    margin: 20px auto;
    text-align: center;
    width: unset;
    border: 1px solid;
    border-radius: 10px;
}
#login-form input{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;  
    display: block;
    margin: 20px auto;
    width: 85%;
} 
#login-form input.login-btn{
    width: 10%;
    background-color: brown;
    color: white;
    width: 90%;
}
div#loadingDiv {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 10;
}
div#loadingDiv img {
    width: 29%;
    position: absolute;
    left: 33%;
    top: 40%;
}
.helios-header{
    background-color: brown;
    color: white;
    margin: 0;
    height: 40px;
    margin-bottom: 10px;
}
.helios-header .header-logo{
    text-align: center;
    padding: 20px 0 0 22%;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline;
}
.menu-icon {
    position: relative;
    display: inline-block;
    width: 35px;
    text-indent: -999px;
}
 
.border-icon {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    margin-top: 6px;
    left: 5px;
}
 
.border-icon:before {
    content:"";
    position:absolute; 
    top:5px;
    left:0;
    width:100%;
    border-top:5px solid #fff;
}
.overlay.show{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background-color: black;
    opacity: 0.2;
}
.nav-bar-container{
    position: fixed;
    left: -300px;
}

.nav-bar-container.show{
    position: fixed;
    left: 0;
    top: 8px;
    width: 70%;
    height: 1000px;
    overflow: hidden;
    background-color:brown;
    color: white;
}
.nav-bar-container.show ul{
    padding-left: 0;
    margin-top: 40%;
}
.nav-bar-container.show li{
    list-style: none;
    text-transform: uppercase;
    color: white;
    float: left;
    width: 100%;
}
.nav-bar-container.show li a{
    color: white;
    padding: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}